body {
  background-color: whitesmoke;
}

.Header {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}
.HeaderImage {
  max-height: 30em;
}
.About {
  max-width: 100%;
}
.aboutPage {
  display: flex;
  justify-content: space-between;
}

.service1,
.service2,
.service3,
.service4 {
  width: 29em;
  height: 13em;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 2em;
  padding: 5px;
}

.highlight-text {
  background: #b5ff63;
  padding: 0.2em;
}

.HightLightText {
  background: white;
  padding: 0.2em;
}

.range {
  display: inline-block;
  background-color: #b5ff63;
}
.speed {
  display: inline-block;
  background-color: white;
}
.service2,
.service3 {
  background-color: #1f1f1f;
}

.service1,
.service4 {
  border: 2px solid #1f1f1f;
  box-shadow: 0 10px 5px 0 #1f1f1f;
}

.para {
  color: white;
}

.Service {
  background-color: #b5ff63;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.service1 > img,
.service2 > img,
.service3 > img,
.service4 > img {
  height: 10em;
}

.service-info {
  display: flex;
  align-items: center;
  margin-left: 13em;
  gap: 1em;
}

.info {
  min-width: 12em;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

i {
  font-size: 4em;
}

.payment {
  margin-top: 7em;
  width: 59em;
  /* max-width: 60em; */
  height: 15em;
  background-color: rgb(209, 207, 207);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2em;
}

.payment > img {
  height: 19em;
}
.paragraph {
  max-width: 25em;
}

.paycontainer {
  display: flex;
  justify-content: center;
}

/* .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

@media (max-width: 844px) {
  .HeaderImage {
    max-height: 20em;
    max-width: 17em;
  }
  .aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .payment {
    margin-top: 1em;
    min-width: 15em;
    max-width: 50em;
    height: 10em;

    align-items: center;
    border-radius: 2em;
  }
  .payment > img {
    height: 10em;
  }
  .paymentText {
    display: none;
  }
  .info {
    max-width: 17em;
  }
  h1 {
    font-size: 1.4em;
  }
  .highlight-text {
    padding: 0.01em;
  }

  .HightLightText {
    padding: 0.01em;
  }
  .serviceInfo {
    display: none;
  }

  .service-info {
    margin-left: 0;
  }
  .service1,
  .service2,
  .service3,
  .service4 {
    height: 10em;
  }

  .icons {
    display: none;
  }
}
