body {
  background-color: whitesmoke;
  margin: 0;
}

@font-face {
  font-family: "JetBrains";
  src: url(./fonts/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: "JetRegular";
  src: url(./fonts/JetBrainsMonoNL-Regular.ttf);
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4em;
  background-color: rgb(221, 217, 217);
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p,
li {
  font-family: JetRegular;
}

.fade-in {
  animation: fadeIn 1.5s ease-in forwards;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.4em;
}
.HeaderImage {
  max-height: 25em;
}
.About {
  max-width: 40%;
}

h1,
h2 {
  font-family: "JetBrains";
}

.us {
  width: 50%;
}

.info {
  width: 60%;
}

.fa-square-up-right {
  font-size: 1.2em;
}

button {
  width: 15em;
  border-radius: 0.6em;
  border-style: none;
  background-color: #1f1f1f;
  color: white;
  font-family: JetBrains;
  padding: 1em;
}

.aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}

.service1,
.service2,
.service3,
.service4 {
  width: 29em;
  height: 13em;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 2em;
  padding: 5px;
}

.highlight-text {
  background: #b5ff63;
  padding: 0.1em;
}

.HightLightText {
  background: white;
  padding: 0.2em;
}

.range {
  display: inline-block;
  background-color: #b5ff63;
}

.service2,
.service3 {
  background-color: #1f1f1f;
}

.service1,
.service4 {
  border: 2px solid #1f1f1f;
  box-shadow: 0 10px 5px 0 #1f1f1f;
}

.para {
  color: white;
}

.Service {
  background-color: #b5ff63;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5em;
}

.service1 > img,
.service2 > img,
.service3 > img,
.service4 > img {
  height: 14em;
}

.serviceSection {
  margin-top: 4em;
}

.service-info {
  display: flex;
  align-items: center;
  margin-left: 13em;
  gap: 1em;
}

.info {
  min-width: 12em;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 2em;
}

i {
  font-size: 4em;
}

.payment {
  margin-top: 7em;
  width: 59em;
  height: 15em;
  background-color: rgb(209, 207, 207);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2em;
}
.blogs {
  width: 59em;
  height: 12em;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 1em;
}

.casestudy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.casestudies {
  display: flex;
  gap: 1em;
}

.blog1 {
  width: 100%;
  height: 10em;
  font-size: 13px;
}

.Blog {
  display: flex;
}

.casestudies > p {
  font-size: 13px;
}

.case {
  display: inline-block;
  background-color: #b5ff63;
}
.caseHead {
  display: flex;
  align-items: center;
  margin-right: 19em;
  gap: 1em;
}
a {
  color: black;
  text-decoration: none;
}
.blog1 > a {
  color: #b5ff63;
}

footer {
  background-color: grey;
  margin: 0;
  text-align: center;
}

.payment > img {
  height: 19em;
}
.paragraph {
  max-width: 25em;
}

.paycontainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 844px) {
  .HeaderImage {
    display: none;
  }
  .aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
  }
  .payment {
    margin-top: 1em;
    min-width: 15em;
    max-width: 50em;
    height: 10em;

    align-items: center;
    border-radius: 2em;
  }
  .payment > img {
    height: 10em;
  }

  .service1 > img,
  .service2 > img,
  .service3 > img,
  .service4 > img {
    height: 10em;
  }

  .aboutPage {
    align-items: start;
    margin-left: 0;
  }

  .us {
    width: 230%;
    text-align: center;
  }

  .info {
    width: 17em;
  }
  h1 {
    font-size: 1.3em;
  }
  .highlight-text {
    padding: 0.01em;
  }

  .HightLightText {
    padding: 0.01em;
  }

  .service-info {
    margin-left: 0;
  }
  .service1,
  .service2,
  .service3,
  .service4 {
    height: 10em;
  }

  .services {
    gap: 1em;
  }

  .casestudy,
  .icons,
  .serviceInfo,
  .paymentText,
  .Header {
    display: none;
  }
}
